<div class="container">
  <div class="search-form">
    <div class="search-bar">
      <%= form_tag grannies_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a granny"
        %>
    </div>
    <div class="search-btn-div">
      <%= submit_tag "City", class: "search-btn" %>
    </div>
    <% end %>
  </div>
  <h1 class="grannies-title text-center"> <%= params[:query].present? ? "Grannies in #{params[:query].capitalize}" : "Grannies" %></h1>
  <nav>
  <h2>Filter by ability:</h2>
  <div class="container-abilities">
    <% @abilities.each do |ability| %>
      <div class="ability">
        <%= link_to ability.name, grannies_path(query:@city, ability: ability.name), class: "btn-ability" %>
      </div>
    <% end %>
  </div>
  </nav>
  <div class="cards">
    <% @grannies.each do |granny| %>
      <div class="card" style='background-image: url("<%= cl_image_path granny.photo.key %>")'>
        <div class="overlay">
          <div class = "items">
            <div class = "items head">
              <p><%= granny.name %></p>
              <p><%= granny.city %></p>
              <% granny.abilities.each do |ability|%>
                <p><%= ability.name %></p>
              <% end %>
            </div>
            <hr>
            <div class = "items price">
              <p><%= granny.price %>€</p>
            </div>
            <div class="items info">
              <%= link_to granny_path(granny) do %>
                <i class="fa-solid fa-cookie-bite"></i>
                <span>MORE INFORMATION</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
