<h1 class="grannies-title text-center">Grannies in your area:</h1>
<div class="container">
  <div class="cards">
  <% @grannies.each do |granny| %>
  <div class="card">
    <div class="overlay">
      <div class = "items">
        <div class = "items head">
            <p><%= granny.name %></p>
            <p><%= granny.city %></p>
            <p><%= granny.description.capitalize %></p>
        </div>
        <hr>
        <div class = "items price">
            <p><%= granny.price %>€</p>
        </div>
        <div class="items info">
          <%= link_to granny_path(granny) do %>
          <i class="fa-solid fa-cookie-bite"></i>
          <span>MORE INFORMATION</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
