<div class="show-body">
  <div class="general-info">
    <span><%= @granny.name %></span>
    <span><%= @granny.city %></span>
  </div>
  <div class="profile-img" style='background-image: url("<%= cl_image_path @granny.photo.key %>")'>
  </div>
  <div class="container-show-info d-flex">
    <div class="row">
      <div class="col-10">
        <div class="initial-phrase">
          <h2><strong><%= "#{@granny.name} is looking forward to meet you:" %></strong></h2>
        </div>
        <div class="description">
          <p class="font-smaller"><%= @granny.description %></p>
        </div>
        <div class="abilities">
        <h2><strong>Best abilities:</strong></h2>
        <% @granny.abilities.each do |ability| %>
        <h3><%= ability.name %></h3>
        <% end %>
      </div>
        <div class="more-info abilities">
          <h4><strong>Contact her grandchild</strong>:</h4><h5><%= @granny.user.email %></h6>
        </div>
    </div>
  </div>
    <div class="container-calendars frame-info">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;" data-controller="flatpickr">
      <h3><strong><%= "#{@granny.price} €/day" %></strong></h3>
      <%= simple_form_for [ @granny, @booking] do |f| %>
      <div class="d-flex dates">
        <%= f.input :initial_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :final_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
        <%= f.input :num_grandsons, as: :integer, :label => "Number of Granchildren" %>
        <%= f.button :submit, "Book your Granny", class: "book-button" %>
      <% end %>
      </div>
  </div>
</div>
