<div class="show-body">
  <div class="general-info">
    <span><%= @granny.name %></span>
    <span><%= @granny.city %></span>
  </div>
  <div class="profile-img" style='background-image: url("<%= cl_image_path @granny.photo.key %>")'>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="initial-phrase">
        <h2><%= "#{@granny.name} is looking forward to meet you:" %></h2>
      </div>
      <div class="description">
        <p><%#= @granny.description %>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="abilities">
        <h2>Best abilities:</h2>
        <h3><%= @granny.description %></h3>
      </div>
    </div>
    <div class="col-4">
      <div class="frame-info">
        <h3><strong><%= "#{@granny.price} €/day" %></strong></h3>
        <div class="inside-frame">
          <div class="first-row-frame">
            <div class="start-div">
              <p class="font-bigger"><strong>Start</strong></p>
              <p><%= "20/7/2022" %></p>
            </div>
            <div class="end-div">
              <p class="font-bigger"><strong>End</strong></p>
              <p><%= "1/8/2022" %></p>
            </div>
          </div>
          <div class="second-row-frame">
            <p class="font-bigger"><strong>Select number of grandsons:</strong></p>
            <p><%= "3 grandsons" %></p>
          </div>
        </div>
        <div class="book-button">
          <%= link_to "Book your granny", "#" %>
        </div>
        <div class="math">
          <span><%= "#{@granny.price}€ x 10 days" %></span>
          <span><%= "Total: X€" %></span>
        </div>
      </div>
    </div>
  </div>





</div>
