<div class="banner d-flex">
<div class="banner-container d-flex">
  <div class="title-banner">
    Grannies B&B
  </div>
  <div class="subtitle-banner">
    Everybody needs a Granny
  </div>
  <div class="search-form">
    <div class="search-bar">
      <%= form_tag grannies_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a granny"
        %>
    </div>
    <div class="search-btn-div">
        <%= submit_tag "Search", class: "search-btn" %>
    </div>
      <% end %>
  </div>
</div>
  <div class="banner-img">
  <%= image_tag "logo_granny.png" %>
  </div>
</div>

<div class="container">
  <h1 class="grannies-title text-center">Map of the best Grannies</h1>

  <div style="width: 100%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
